#option_in2 {
	display: none;
}

#option_in3 {
	display: none;
}

#option_in4 {
	display: none;
	
}
#form_div {margin: auto; width: 1000px;}
#tabs { margin: auto 0; width: 1000px; padding: 0;} 

#tabs-1 {position:relative; ; margin: auto ; width: 1000px; padding: 0;}
#tabs-1 .gaide { width: 500px; height: 650px; margin: 0; float: left;}
#tabs-1 .input1 {width: 500px; margin: 0; float: left;}
#tabs-1 .input1 .image_button {
	
  width : 500px;
  height : 100px;
  color : #ffffff;
  background: #fff;
  font-weight: bold;
  border: 3px solid  #CCCDCF;
  border-radius:5px 5px ;
}
 
#tabs-1 .input1 .image_button:hover {
  color: #FFF;
  background: #fff;
  border: 3px solid #06Bfbf;
}


#tabs-1 .input1 .title {
	
  width : 495px;
  height : 30px;
  
  
  font-weight: bold;
  border: 3px solid  #CCCDCF;
  border-radius:5px 5px ;
}
 
#tabs-1 .input1 .title:FOCUS {
  
  
  border: 3px solid #06Bfbf;
}

#tabs-1 .input1 .blurb {
	
  width : 490px;
  height : 100px;
  
  
  font-weight: bold;
  border: 3px solid  #CCCDCF;
  border-radius:5px 5px ;
}
 
#tabs-1 .input1 .blurb:FOCUS {
  
  
  border: 3px solid #06Bfbf;
}

#tabs-1 .input1 .category {
	
  width : 110px;
  height : 30px;
  
  
  font-weight: bold;
  border: 3px solid  #CCCDCF;
  border-radius:5px 5px ;
}
 
#tabs-1 .input1 .category:FOCUS {
  
  
  border: 3px solid #06Bfbf;
}

#tabs-1 .input1 .large {
	
  width : 490px;
  height : 30px;
  
  
  font-weight: bold;
  border: 3px solid  #CCCDCF;
  border-radius:5px 5px ;
}
 
#tabs-1 .input1 .large:FOCUS {
  
  
  border: 3px solid #06Bfbf;
}

#tabs-1 .input1 .location {
	
  width : 200px;
  height : 30px;
  
  
  font-weight: bold;
  border: 3px solid  #CCCDCF;
  border-radius:5px 5px ;
}
 
#tabs-1 .input1 .location:FOCUS {
  
  
  border: 3px solid #06Bfbf;
}



#tabs-2 {margin: auto 0; width: 1000px; padding: 0;}
#tabs-2 .input2 {width: 500px; margin: 0;}

#tabs-3 { margin: auto 0; width: 1000px; padding: 0;}
#tabs-3 .input3 {width: 400px; margin: 0;}

.supercal {
width: 300px;
}
.supercal .supercal-header {
display: block;
line-height: 30px;
margin-bottom: 20px;
text-align: center;
position: relative;
}
.supercal .supercal-header .prev-month {
float: left;
}
.supercal .supercal-header .next-month {
float: right;
}
.supercal-month {
position: relative;
z-index: 0;
overflow: hidden;
}
.supercal table {
width: 300px;
table-layout: fixed;
background: #fff;
}
.supercal td {
cursor: pointer;
}
.supercal td:hover {
background: #2f96b4 !important;
color: #fff;
}
.supercal td.month-prev, .supercal td.month-next {
background: #eee;
}
.supercal td.selected {
background: #0088cc;
color: #fff;
font-weight: normal;
}
.supercal td.today {
font-weight: bold;
}
/* Footer */
.supercal .supercal-footer {
width: 100%;
display: table;
margin-bottom: 10px;
}
.supercal .supercal-footer span.supercal-input {
display: table-cell;
width: 100%;
cursor: default;
}



#footer { clear:both;}

