@font-face{
font-family:"Nanum Gothic";
src:url('/fonts/NanumGothic.eot');
src:url('/fonts/NanumGothic.eot?#iefix') format('embedded-opentype'),
url('/fonts/NanumGothic.woff') format('woff'),
url('/fonts/NanumGothic.ttf') format('truetype');
url('/fonts/NanumGothic.svg#NanumGothic') format('svg')
src:local(¡Ø), url('/fonts/NanumGothic.woff') format('woff');
}

ol, ul {
    list-style: none;
}
 a{
	color: #000000 !important;
	font-family:Nanum Gothic !important;
	
}
a:HOVER {
	text-decoration:none !important;
}  

a:ACTIVE {
	
	text-decoration: none !important;
	
}

li
{
	
	font-weight:bold;
    list-style-type: none;
    float: left;
    margin-top: 22px;
    margin-right: 45px;
    font-size: 17px;
}

.top_list
{	
	margin-top:-5px;
    padding-left: 35px;
}

.top_search
{
    margin-top: 20px;
    border-radius: 9px;
}

.top_login
{
    margin-top: 16px;
    text-align: right;
}

.login_button
{
    width: 87px;
    background-color: #24cdef;
    color: #ffffff;
    border: 0px;
}

.login_button:hover
{
    background-color: #2888d7;
    color: #ffffff;
    border: 0px;
}

.modal_login_email
{
    margin-top: 15px;
}

.modal_login_pw
{
    margin-top: 16px;
}

.modal_login_button
{
    
    width: 298px;
    height: 30px;
    margin-top: 15px;
}

.modal_signup_button
{
    width: 298px;
    margin-top: 15px;
}

li a
{
    color: #161616;
    text-decoration: none;
}

li a:hover
{
    color: #3e5dc9;
    text-decoration: none;
}

.modal_size
{
    width: 360px;
}

.modal_login_email_sigpu
{
    width: 198px;
    float: left;
}

.idcheck_signpu
{
    margin-left: 14px;
    width: 85px;
}

 .alpha_nav {
	background-color:#ffffff !important;
	border-color :#ffffff;
	padding-bottom: 5px;
	  
}
    
    
